body {
  background-image: url(/images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
ul {
  list-style-type: none;
}

.main-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
}

.main-card {
  text-align: center;
  display: inline;
  color: azure;
  background-color: black;
  border-radius: 15px;
  padding: 25px;
}

#logo {
  width: 75px;
  border-radius: 10px;
}
.welcome {
  color: azure;
  text-align: center;
}
.card-Left {
  text-align: center;
  display: inline;
  color: azure;
}

#cadastrar,
#editar {
  color: azure;
  background-color: rgb(167, 26, 26);
  border-radius: 5px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.card-Right {
  display: inline;
  text-align: center;
  color: azure;
}

#editForm,
#deleteForm {
  display: inline;
}

#edit,
#delete {
  color: azure;
  background-color: rgb(167, 26, 26);
  border-radius: 5px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

#sorteioDiv {
  text-align: center;
}

#sorteio {
  color: black;
  background-color: rgb(255, 255, 0);
  border-radius: 5px;
  width: 75px;
  height: 30px;
  cursor: pointer;
}

.centerUL {
  display: inline-block;
  text-align: right;
}

